#layoutMain {
    height: 100%;
    width: 100%;
}

#layoutHeader {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: white;
}

#layoutContent {
    position: absolute;
    top: 15vh;
    width: 100%;
}

#layoutLogo {
    width: 200px;
    height: 100%;
    background-color: black;
}

#layoutLinks {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.headerLink {
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    transition: 0.5s;
}

.headerLink::after,
.headerLink::before {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 2px;
    width: 0;
    background-color: black;
    opacity: 0;
    transition: all 0.5s;

}

.headerLink::after {
    left: 50%;
}

.headerLink::before {
    right: 50%;
}

.headerLink:hover::before,
.headerLink:hover::after {
    width: 60%;
    opacity: 1;
}

.headerLink:hover {
    transform: scale(1.2);
}

#mobileLinks {
    width: 20%;
    display: none;
}

#divLinks {
    position: fixed;
    top: 15vh;
    right: 0;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    z-index: 1;
}

.dummyLink {
    font-weight: bold;
    transition: all 0.5s;
}

.dummyLink:hover {
    transform: scale(1.2);
}

#footerLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 3vh;
}

.footerColumnLink {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#layoutFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    padding: 5vh;
}

#footerContact {
    height: 40vh;
    width: 60%;
    background-color: purple;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    #mobileLinks {
        display: block;
    }

    #layoutLinks {
        display: none;
    }
}