#adminMain {
    margin: 5vw 0;
    width: 96%;
    border-radius: 10px;
    background-color: white;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.courseItem {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 0.9rem;
    justify-content: space-between;
    margin: 1vh 0;
}

.adminButton {
    margin-right: 10px;
    height: 5vh;
    width: 10vw;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5vh;
}
@media only screen and (max-width: 600px){
    .adminButton{
        height: 7vh;
        width: 12vw;
    }
}
@media only screen and (max-width: 493px){
    .adminButton{
        height: 8vh;
        width: 14vw;
    }
}
@media only screen and (max-width: 413px){
    .adminButton{
        height: 9.5vh;
        width: 17vw;
    }
}

.adminBigText {
    font-size: 1.5rem;
    font-weight: bold;
}

.profItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}