#adminMain {
    margin: 5vw 0;
    width: 96%;
    border-radius: 10px;
    background-color: white;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.courseItem {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 0.9rem;
    justify-content: space-between;
    margin: 1vh 0;
}

.adminButton {
    margin-right: 10px;
    height: 5vh;
    width: 10vw;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5vh;
}
@media only screen and (max-width: 600px){
    .adminButton{
        height: 7vh;
        width: 12vw;
    }
}
@media only screen and (max-width: 493px){
    .adminButton{
        height: 8vh;
        width: 14vw;
    }
}
@media only screen and (max-width: 413px){
    .adminButton{
        height: 9.5vh;
        width: 17vw;
    }
}

.adminBigText {
    font-size: 1.5rem;
    font-weight: bold;
}

.profItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

#adminHeader {
    width: 90%;
    padding: 4vh;
    background-color: white;
    margin-top: 5vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#adminName {
    width: 50%;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  .Btn:active {
    transform: translate(2px ,2px);
  }