@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway;
}
html, body, #root{
    width: 100%;
    height: 100vh;
}


:root {
    font-size: 20px;
    --grey: #a2a7c4;
    --blue: #394bae;
    --purple: #7e59dd;

}

a {
    color: black;
    text-decoration: none;
}

hr {
    width: 100%;
}

button {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 15px;
    }
}